.Contenedor_footer{
    height: 100px;
    background: #f50202;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.texto_footer{
    font-size: 20px;
}